
:root {
  --section-overlay: rgba(0, 0, 0, 0.7);
  --background-overlay: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: var(--background-overlay);
}

.container {
  max-width: 800px;
  margin: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem;
}

.section {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: white;
}

.section-inputs,
.section-temperature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
  padding: 1rem;
  border-radius: 0.5rem;
}

.section-inputs > input {
  border: 0.8px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
  font-size: 20px;
  font-weight: 200;
}

.section-inputs > input:focus {
  outline: none;
}

.section-inputs > button {
  padding: 10px 30px;
  border: none;
  border-radius: 3px;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  cursor: pointer;
}

.section-inputs > button:hover {
  background-color: greenyellow;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 130px;
}

.temperature {
  font-size: 30px;
}

.section-descriptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--section-overlay);
  padding: 16px;
  border-radius: 0.4rem;
}

.description_card-icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 12px;
}

.description_card-icon > small {
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .section-descriptions {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .section-inputs,
  .section-temperature {
    flex-direction: column;
  }

  .section-inputs > input,
  .section-inputs > button {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}


